.s-footer1, .s-back-to-top__icon1, .s-back-to-top__image1, .s-back-to-top1, .copyright1
{
    visibility:hidden !important;
    display:none !important;
    transform: scale(0)  !important;
    clip-path: circle(0) !important;
    position: absolute !important;
    left: -9999px !important;
    height: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}
